<tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>
        <button data-id={{_id}} type="button" class="btn btn-info updateBtn material-icons-outlined md-24" data-toggle="modal"  id="update-movie-btn">
            <span class="material-icons-outlined">edit_note</span>
        </button>
    </td>
    <td>
        <div class="">
            <button data-id={{_id}} class="btn btn-danger deleteBtn material-icons-outlined md-24"  data-toggle="modal" id="delete-movie-btn">
                <span class="material-icons-outlined">delete_forever</span>
            </button>
        </div>
    </td>
</tr>