<nav class="navbar fixed-top navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/devMenu">Developer Menu</a>
    </div>
</nav>